<div class="container">
  <h1>People#index</h1>
  <% @groups.each do |group| %>
    <div class="card-person">
      <% group.people.each do |person| %>
        <h1><%= person.firstname %> </h1>
        <% end %>
    </div>


    <% end %>
</div>

