<div class="container">
  <h1>People#index</h1>
  <% @groups.each do |group| %>
    <div class="card-family">
      <h3><%= group.name %></h3>
      <div>
        <% group.people.each do |person| %>
        <div class="card-person">
          <%= image_tag 'george.jpeg', class: 'avatar' %>
          <p><%= person.firstname %> </p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

