  <div class="card text-center mx-2">
    <div class="card-header">
      <h5><%= group_card.name %></h5>
    </div>
    <%= turbo_frame_tag dom_id(group_card), src: group_path(group_card) %>
  </div>
