<div class="container">
  <h1>Alle Familien</h1>
  <div class="row">

    <div class="form-search col-12">
      <%= form_tag groups_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Familie suchen" %>
      <% end %>
    </div>
  </div>

    <div class="groups">
      <div class="row">
        <div class="d-flex flex-wrap justify-content-center">
        <%#= turbo_frame_tag "groups" do %>
          <%#= turbo_stream_from "groups" %>
            <% @groups.each do |group| %>
            <div class="card-white-small">
              <%= turbo_frame_tag dom_id(group), src: group_path(group) %>
            </div>
            <% end %>
        <%# end %>

        </div>
      </div>
    </div>

    <!-- <div class="card-white-large form col-lg-4">
      <h3>Neue Familie hinzufügen</h3>
      <#%= render 'groups/group_form' %>
    </div> -->

  </div>

