<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <a href="#" class='button-trk'>Click me!</a>
  <div class="card-family">

    <div class="card-person">
      <%= image_tag 'george.jpeg', class: 'avatar' %>
      <p>George</p>
    </div>

    <div class="card-person">
      <%= image_tag 'george.jpeg', class: 'avatar' %>
      <p>George</p>
    </div>

    <div class="card-person">
      <%= image_tag 'george.jpeg', class: 'avatar' %>
      <p>George</p>
    </div>

  </div>

</div>
