.card-family {

  margin: 16px 8px;
  width: 160px;
  background-color: $light-turqoise;
  // border: solid 1px black;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: fit-content;
    // border: solid 1px black;
    margin: auto;

  }

  h3 {
    margin: 8px 8px;
    text-align: center;

  }

}

.card-person {

  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 8px;
  // border: solid 1px black;
  border-radius: 4px;
  width: fit-content;
  // padding-right: 8px;

  p {

    margin: 0px 2px;
    font-weight: lighter;
    font-size: 12px;

  }

  img {
    margin: 4px 2px;
  }


}
