.card-family {
  display: flex;
  width: 300px;
  background-color: $light-turqoise;
  border: 2px;

}

.card-person {

  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: solid 1px black;
  border-radius: 4px;
  width: 75px;
  padding-right: 8px;

  p {

    margin: 0;
    margin-top: 2px;
    font-weight: lighter;
    font-size: 12px;

  }


}
